body{
    background-color: #c5aa79;
}
#display-food-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.food-item{
    border: 1px solid blue;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.width-resize{
    width: 100%;
}